.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
    height: 70px;
}
.i-logo{
    padding-left: 10px;
    height: 50px;
    width: 50px;
}
.title{
    font-size: 30px;
    font-weight: 700;
    padding-right: 10px;
}